img {
  width: 75%;
  height: auto;
  border-radius: 10px;
  max-height: 850px;
}

#post-container {
  text-align: center;
  position: relative;
  margin-top: 4.5rem;
  overflow: auto;
}

/* #post-container > img {
  display: block;
} */

.util-btn {
    width: 20px;
      height: 20px;
      border-style: solid;
      box-shadow: 0 0 8px 3px #B8B8B8;
      position: absolute; top: 0; right: 3rem;
}

.util-map {
  width: 20px;
  height: 20px;
  border-style: solid;
  box-shadow: 0 0 8px 3px #B8B8B8;
  position: absolute; top: 0; right: 6rem;
}

#pencil-btn {
  right: 4.5rem;
}
@media only screen and (max-width: 600px) {
  /* adjust max-height for screens smaller than 600px */
  img {
    max-height: 300px;
  }
}
