img {
  width: 75%;
  height: auto;
  /* border-radius: 10px; */
}

#post-container {
  text-align: center;
  position: relative;
  margin-top: 4.5rem;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.8); /* semi-transparent white background */
  padding: 2rem; /* increase padding to make the container slightly larger */
}



.description-container {
  max-height: 10rem; /* set a maximum height for the container */
  overflow: auto; /* add a scrollbar if the content overflows */
  margin-top: 1rem; /* add some margin between the title and the description */
  font-size: 1rem;
  text-align: left;
}


/* #post-container > img {
  display: block;
} */

.util-btn {
    width: 20px;
      height: 20px;
      border-style: solid;
      box-shadow: 0 0 8px 3px #B8B8B8;
      position: absolute; top: 0; right: 3rem;
}

.util-map {
  width: 20px;
  height: 20px;
  border-style: solid;
  box-shadow: 0 0 8px 3px #B8B8B8;
  position: absolute; top: 0; right: 6rem;
}

#pencil-btn {
  right: 4.5rem;
}