body {
  background-image: url('/parksbg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  max-width: 800px;
  margin-bottom: 1rem;
}

.campgrounds-container {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
}

.campgrounds-header {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.dropdown-wrapper {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

#parkFilter {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.campgrounds-list {
  list-style-type: none;
  padding: 0;
}

.campground-card {
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.campground-image-container {
  text-align: center;
  margin-bottom: 1rem;
}

.campground-image {
  width: 200px;
  border-radius: 5px;
}


