/* components/ParksPage/Parks.css */
.parks-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.parks-link {
  width: 45%;
  margin-bottom: 2rem;
}


.parks-link-card {
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.parks-link-card h2 {
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
