.tours-container {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
}

.tour-card {
  padding: 1rem;
  margin-bottom: 2rem;
  background-color: #f0f0f0;
  border-radius: 0.5rem;
}


.tour-details-bg {
  background-image: url('/parksbg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 6rem);
}

.tour-details-container {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

